PINATA_API_KEY=your_pinata_api_key
PINATA_JWT=your_pinata_jwt_token
INFURA_PROJECT_ID=your_infura_project_id
XRPL_SEED=your_xrpl_wallet_seed
XRPL_NETWORK=wss://s.altnet.rippletest.net:51233/
PRIVATE_KEY=your_ethereum_private_key
