.botStyle1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px; /* Add space for the speech bubble */
}

.logoStyle1 {
  width: 800px;
  height: auto;
  margin-top: -150px;
  margin-left: -300px;
  margin-right: 300px;
  opacity: 0.5;
}
.drop-zone {
  width: 300px;
  height: 300px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: relative;
  bottom: 0px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.depot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}

.upload-button {
  background-color: #95a5a6; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 20px 60px; /* Remplissage (taille) */
  margin-left: 30px;
  border: none; /* Supprimer la bordure */
  cursor: pointer; /* Curseur de type main (pointeur) */
  font-size: 20px;
  border-radius: 40px;
}
