.fileTableContainer {
  margin: 25px auto;
  width: 80%; /* Ajuster la largeur selon les besoins */
  overflow-x: auto;
  border-radius: 15px;
}

.fileTable {
  width: 100%;
  border-collapse: collapse;
}

.fileTable th,
.fileTable td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.fileTable th {
  background-color: #95a5a6;
}

.downloadButton {
  padding: 6px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #45a049;
}
